.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-image {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    margin-bottom: 0;
}

.intro-text-content p {
    margin: 5rem 0;
}

.intro-image {
    align-items: center;
}

.intro-image img {
    max-width: 36rem;
    height: 36rem;
    border-radius: 50%;
}

.porque-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.terapia-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.grid-main-heading,
.grid-description {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-terapia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter(4);
}

.grid-apresentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-ajuda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid h6,
.grid-terapia h6 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

.grid h6::before,
.grid-terapia h6::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -5rem;
    left: -1rem;
    transform: rotate(5deg);
}

.feedback-img {
    width: 100%;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
}

.feedback-img img {
    transition: all 300ms ease-in-out;
}

.feedback-img img:hover {
    transform: scale(1.2);
}

.close-menu {
    display: none;
}

.btn-whatsapp {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 5rem;
}

.video_apresentation {
    display: flex;
    justify-content: center;
}

.div-botao {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.estrelas {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    color: #ffff00;
    font-size: 100px;
}


@media (max-width: 640px) {

    .intro-content, .grid-ajuda, .grid, .grid-terapia, .grid-apresentation {
        grid-template-columns: 1fr;
    }

    .botao-logo, .botao-transparente {
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .depoimentos {
        font-size: 4.5rem;
    }

    .estrelas {
        font-size: 7rem;
    }

    .feedback-img, .footer img, .video_apresentation video{
        max-width: 100%;
        max-height: 100%;
    }

    .feedback-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
        align-items: center;
        display: none;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        border: 0.1rem solid var(--primary-color);
        background-color: #b4a485d7;
        color: var(--primary-color);
        line-height: 3rem;
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        color: var(--primary-color);
        background-color: var(--bg-color);
    }

    .menu-spacing {
        display: none;
    }

    footer div {
        padding: 24px;
    }

    footer {
    display: block;
    }
}